{{> navheader }}
{{> map scroll='0.3'}}
<script>
	function add_to_cart(itemid, van, price)
	{
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function()
		{
			if(this.readyState == 4 && this.status == 200)
			{
				//do anything on the page here since this means it worked
				console.log("got here")
				var quant = document.getElementById(itemid);
				quant.innerHTML++;
				var totalPlus = document.getElementById("totalCost");
				totalPlus.innerHTML = (Number(totalPlus.innerHTML) + Number(price)).toFixed(2);
			}
		};
		xhttp.open("POST", "/customer/startOrder/"+van+"/"+itemid+ "/add", true);
		xhttp.send();
	}
	function remove_from_cart(itemid, van, price)
	{
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function()
		{
			if(this.readyState == 4 && this.status == 200)
			{
				//do anything on the page here since this means it worked
				console.log("got here")
				var quant = document.getElementById(itemid);
				if (quant.innerHTML > 0)
				{
					quant.innerHTML--;
					var total = document.getElementById("totalCost");
					total.innerHTML = (Number(total.innerHTML) - Number(price)).toFixed(2);
				}
				//window.location.reload(true);
			}
		};
		xhttp.open("POST", "/customer/startOrder/"+van+"/"+itemid+ "/remove", true);
		xhttp.send();
	}
</script>

<div id="menuContainer">
	<div class="vanListElement menuVanElement">
		<div class="vanCallout"></div><div class="vanListLabel">{{this.van}}</div>
	</div>
	<br />

	<h2>Snacks on Board</h2> 

	<div id="menuGrid">
		{{#each customer.cart}}
		<div class="menuItem">
			
			<a class="menuItemLink" href="/customer/startOrder/{{../van}}/{{this.food._id}}/"><span class="menuLabel">{{this.food.name}}</span><br>
			<img class="menuImage" src="/img/menu/{{this.food.photo}}"></a>
			
			<div class="menuPriceIncContainer">
				<div class="menuIncrementors">
					<button class="menuIncrementButton" onclick="remove_from_cart('{{this.food._id}}', '{{../van}}', '{{this.food.price}}')">-</button>
					<span id = "{{this.food._id}}">{{quantity}}</span>
					<button class="menuIncrementButton" onclick="add_to_cart('{{this.food._id}}', '{{../van}}', '{{this.food.price}}')">+</button>
				</div>
				<span class="menuPrice">${{this.food.price}}</span>
			</div>			
		</div>
		{{/each}}
	</div>
	<div id="menuTotalSpacer"></div>
	<div id="menuTotal">
		<a href= "/customer/startOrder"><button class="menuTotalButton"><b>Back</b></button></a>
		<div id="menuTotalLabel">Total: $<span id = "totalCost">{{cost}}</span></div>
		<a href= "/customer/checkOut/{{van}}"><button class="menuTotalButton"><b>Cart</b></button></a>
	</div>
	
</div>